{% extends "base.html" %}
{% load i18n %}
{% load socialaccount %}

{% block title %}View Order{% endblock title %}

{% block content %}
<div class="shipping-container">
    <div class="card">
        <h2>{% trans "View your order" %}</h2>
        <div class="form-group">
            <!-- Botón para iniciar sesión con Google, estilo coherente con tu página -->
            <button onclick="window.location.href='{% provider_login_url 'google' %}?next={% url 'success' %}'" class="btn-submit" style="width: 100%;">
                {% trans "See Order" %}
            </button>
        </div>
    </div>
</div>
{% endblock content %}