<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Everything your pet needs, all in one place.">
    <title>{% block title %}My PetShop{% endblock title %}</title>
    <!-- Load static files -->
    {% load static %}
    {% load socialaccount %}

    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- JINJA para incluir el navbar en todas las paginas -->
    {% include "navbar.html" %}

    <!-- Main header/banner -->
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <p>FREE DELIVERY OVER $40</p>
            </div>
        </div>

        <!-- Muestra el mensaje (Welcome) solo en Homepage(pagina principal)-->
        {% if request.path == "/" %}
        <div class="logo-section">
            <div class="container">
                    {% if user.is_authenticated %}
                        <h1>Welcome! {{ username }} </h1>
                    {% else %}
                        <h1>Welcome!, Guest</h1>
                    {% endif %}
            </div>
        </div>
        {% endif %}
    </header>

    <!-- Aqui va el contenido de la pagina -->
    <main class="content">
        {% block content %}
        <!-- Aqui va el contenido de cada pagina -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 My Petshop - All rights reserved.</p>
        </div>
    </footer>

    <!-- Block for extra JavaScript -->
    {% block extra_js %}
    <!-- JavaScript specific to individual pages will be inserted here -->
    {% endblock extra_js %}
    
</body>
</html>