{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}

{% block content %}
<section class="contact-section">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Whether you have a question about our products, need help with an order, or just want to give feedback, we are here to help.</p>

    <div class="contact-info">
        <div class="info-block">
            <h2>Our Store</h2>
            <p>Example Street Address <br> Aguadilla, PR 00605</p>
        </div>
        
        <div class="info-block">
            <h2>Email Us</h2>
            <p><a href="mailto:info@mysite.com">info@mysite.com</a></p>
        </div>

        <div class="info-block">
            <h2>Call Us</h2>
            <p>Phone: 123-456-7890</p>
            <p>Monday - Friday: 9am - 5pm EST</p>
        </div>
    </div>

</section>
{% endblock content %}
