<!-- myapp/templates/email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My-PetShop!</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Welcome to My-PetShop! We are excited to have you on board.</p>
    <p>You can start exploring our products here: 
        <a href="{{ product_link }}">Products</a>.
    </p>
    <p>Best regards,<br>My-PetShop Team</p>
</body>
</html>